[submodule "libspdm"]
	path = libspdm
	url = https://github.com/metisx-dev/libspdm
[submodule "SPDM-Responder-Validator"]
	path = SPDM-Responder-Validator
	url = https://github.com/metisx-dev/SPDM-Responder-Validator
